.logInWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.logInForm {
  border: lightgray solid 1px;
  width: 400px;
  height: 350px;
  border-radius: 15px;
  padding: 2rem;
}