<html lang="en">
  <%- include('./partials/head.ejs')%>
<body>
  <%- include('./partials/nav.ejs')%>
    <div class="create-tweet content">
      <form action="/new" method="POST">
        <label for="body">Tweet:</label>
        <input type="text" id="body" name="body" required />
        <button>Submit</button>
      </form>
    </div>
  </body>
  <%- include('./partials/footer.ejs')%>
</html>
