<html lang="en">
  <%- include('./partials/head.ejs')%>
<body>
  <%- include('./partials/nav.ejs')%>
    <div class="create-tweet content">
        <h1>The profile page of You</h1>
    </div>
  </body>
  <%- include('./partials/footer.ejs')%>
</html>
