.logInBtn{
  margin-top: 1rem;
  height: 2.5rem; 
  border: none;
  background-color: lightblue;
  transition: all .1s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-radius: 100px;
  color: white;
  }
  
  .SignUpLink {
    text-decoration: none;
  }
  
  .logInBtn p {
    margin: 0 auto;
    color: white;
    align-self: center;
  }
  
  .logInBtn:hover {
    background-color: rgb(210, 226, 232);
    border-radius: 100px;
    box-sizing: border box;
  }