.main_grid {
  /* background-color: rgb(128, 155, 238); */
  width: 95vw;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  margin-bottom: 100px;
}

.main_content{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  color: white;
  margin-top: 1em;  
}

.sidebar{
  /* background-color: rgb(128, 155, 238); */
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.signupbar{
  /* background-color: rgb(128, 155, 238); */
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
