.signUpWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signUpForm {
  border: lightgray solid 1px;
  width: 600px;
  height: 500px;
  border-radius: 15px;
  padding: 3rem;
}

Footer{
  position: absolute;
  bottom: 0;
}